*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}
body{
  background-image: url(../src/assets/images/background-desktop.png);
  color : white !important;
  background-position: 100vw;
  width : 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
::content body{
  background-image: url(../src/assets/images/pattern-squiggly-line-bottom.svg);;
}